<div class="d-flex flex-column justify-content-center align-items-center px-1">

<%= image_tag 'flanatar.png', class: "img-thumbnail rounded border border-2 border-warning" %>
 
 <small style="max-width: 5rem; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;"> Username </small>
</div>


